<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1>Pro Signup</h1>
          <p>Sign up for a Pro account and get access to contact information as well. Only $10/month.</p>
        <% else %>
          <h1>Basic Signup</h1>
          <p>Sign up for free and get basic access to the community.</p>
        <% end %>
      </div>
      <div class="well">
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>